<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="MaidSafe.SafeApp" version="0.1.1" targetFramework="xamarinios10" />
  <package id="NUnit" version="3.6.1" targetFramework="xamarinios10" />
  <package id="nunit.xamarin" version="3.6.1" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.6.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="xamarinios10" />
</packages>
